.main {
  /* padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  border-bottom: 0;
  background: #fff;
  color: #272341;
  padding: 0 5rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* z-index: 10; */
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(44, 44, 44, 0.8);
}

.hero > header {
  z-index: 1;
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  color: white;
}

.hero > header h1 {
  font-size: 4rem;
  font-weight: 600;
}

.links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  li + li {
    margin-left: 2rem;
  }

  a {
    display: inline-block;
    padding: 0.5rem;

    &[href*='github.com']:hover {
      color: #333;
    }

    &[href*='linkedin.com']:hover {
      color: #0077b5;
    }

    &[href*='gmail.com']:hover {
      color: #ea4335;
    }

    &[href*='dribbble.com']:hover {
      color: #ea4c89;
    }
  }
}

.foo {
  padding: 200vh 0;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
